/* footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}
  
@media screen and (max-width: 600px){
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
} */

footer {
    background: rgba(0, 0, 0, 0.85); /* Making it transparent like the topbar */
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a, .footer__logo, .footer__copyright {
    color: var(--color-bg); 
}

footer a {
    color: var(--color-bg);  /* This will be white */
}

.permalinks, .footer__socials a {
    border-color: rgba(255, 255, 255, 0.3); /* Adding a slight white border for visibility */
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    color: var(--color-bg);  /* Altered for the B/W theme */
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a {
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    
    background: rgba(252, 252, 252, 0.9);  /* Removing the background */
    color: var(--color-black);
    border: none;  /* Removing the border */
}

.footer__socials a:hover {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.9);  
    color: rgba(252, 252, 252, 0.9); 
    border-color: none;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);  /* This will be white */
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}
